<!--About Detox-->
<div class="whole-wrap">
    <div class="container">
        <div class="section-top-border" >
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="menu-content pb-70 col-lg-8">
                            <div class="title text-center">
                               <h1 class="mb-10">O DetoxMe</h1>
                            </div>
                        </div>
                    </div>
                <div class="row">
                <div class="col-md-4">
                    <div class="single-defination">
                        <h4 class="mb-20"> <img src="assets/img/icon1.png" class = "icon_detox">
                            Стройность</h4>
                        <p>Detox-программа обеспечивает полный отдых пищеварительному тракту и печени, эффективно очищает организм от токсинов, оздоравливает, укрепляет иммунитет.</p>                   
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-defination">
                        <h4 class="mb-20"><img src="assets/img/icon3.png" class = "icon_detox" >Двойной результат</h4>
                        <p>Detox-программа обеспечивает полный отдых пищеварительному тракту и печени, эффективно очищает организм от токсинов, оздоравливает, укрепляет иммунитет.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-defination">
                        <h4 class="mb-20"><img src="assets/img/icon2.png" class = "icon_detox" >Свежие и натуральные продукты</h4>
                        <p> Для изготовления Detox-программ мы используем только свежие, натуральные овощи и фрукты, благодаря чему вы получаете полезные и вкусные фруктово-овощные коктейли.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-defination">
                        <h4 class="mb-20"><img src="assets/img/icon4.png" class = "icon_detox" >Технология холодного отжима</h4>
                        <p>Благодаря современной технологии холодного отжима сок нагревается до 35°С, сохраняя в 3 раза больше витаминов чем при традиционном отжиме.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-defination">
                    <h4 class="mb-20"><img src="assets/img/icon5.png" class = "icon_detox">Омоложение организма</h4>
                        <p> Обновляются все жизненные процессы, омолаживается организм! Результат - сияющий взгляд, блеск, упругость кожи, красивые волосы, крепкие ногти!</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-defination">
                        <h4 class="mb-20"><img src="assets/img/icon6.png" class = "icon_detox"/>Продолжительность жизни</h4>
                        <p>Правильно применяя Detox-программу, вы вкладываете в своё долголетие и увеличиваете продолжительность жизни до 20 лет.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end About Detox-->

    <!-- Start blog Area -->
    <section class="blog-area section-gap" id="blog" >
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="menu-content pb-70 col-lg-8">
                        <div class="title text-center">
                            <h1 class="mb-10">Преимущества DetoxMe</h1>
                         </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 single-blog">
                        <div class="thumb">
                            <img class="img-fluid" src="assets/img/diet.jpg" alt="">								
                        </div>
                        <p >Разработано диетологом</p>
                        <h4>--------------------------</h4>
                        <p  >
                            Вся система оздоровления от DetoxMe разработана диетологом для Вашего удобства и направлена на то, чтобы эффективно очищаясь, Вы не меняли свой привычный ритм жизни и не выпадали из рабочего процесса!
                        </p>								
                    </div>		
                    <div class="col-lg-3 col-md-6 col-sm-6 single-blog">
                        <div class="thumb">
                            <img class="img-fluid" src="assets/img/nosugar.jpg" alt="">								
                        </div>
                        <p >Без консервантов</p>
                        <h4>--------------------------</h4>
                        <p  >
                                Мы не пастеризуем, не добавляем сахар и консерванты!
                        </p>								
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 single-blog">
                            <div class="thumb">
                                <img class="img-fluid" src="assets/img/juice.jpg" alt="">								
                            </div>
                            <p >Соки</p>
                            <h4>--------------------------</h4>
                            <p  >
                                    Сок, в отличии от традиционных фрешей, сделанных центрифужным методом, густой, сытный и невероятно вкусный!</p>								
                        </div>		
                    <div class="col-lg-3 col-md-6 col-sm-6 single-blog">
                            <div class="thumb">
                                <img class="img-fluid" src="assets/img/cold.jpg" alt="">								
                            </div>
                            <p >Холодный отжим</p>
                            <h4>--------------------------</h4>
                            <p  >
                                    Холодный отжим позволяет не нагревать соки при производстве.
                            </p>								
                    </div>		
                    <div class="col-lg-3 col-md-6 col-sm-6 single-blog">
                            <div class="thumb">
                                <img class="img-fluid" src="assets/img/snack.jpg" alt="">								
                            </div>
                            <p >Снэки</p>
                            <h4>--------------------------</h4>
                            <p  >
                                    Наши снэки без белой муки / сахара / животных жиров.
                            </p>								
                    </div>		
                    <div class="col-lg-3 col-md-6 col-sm-6 single-blog">
                            <div class="thumb">
                                <img class="img-fluid" src="assets/img/city.jpg" alt="">								
                            </div>
                            <p >Очищение организма</p>
                            <h4>--------------------------</h4>
                            <p  >
                                    Наши Детокс-программы – это идеальная опция для максимально эффективного очищения организма в условиях большого города.
                            </p>								
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 single-blog">
                            <div class="thumb">
                                <img class="img-fluid" src="assets/img/img3.jpg" alt="">								
                            </div>
                            <p >Разработано диетологом</p>
                            <h4>--------------------------</h4>
                            <p  >
                                Вся система оздоровления от DetoxMe разработана диетологом для Вашего удобства и направлена на то, чтобы эффективно очищаясь, Вы не меняли свой привычный ритм жизни и не выпадали из рабочего процесса!
                            </p>								
                        </div>		
                        <div class="col-lg-3 col-md-6 col-sm-6 single-blog">
                                <div class="thumb">
                                    <img class="img-fluid" src="assets/img/img12.jpg" alt="">								
                                </div>
                                <p >Соки</p>
                                <h4>--------------------------</h4>
                                <p  >
                                        Сок, в отличии от традиционных фрешей, сделанных центрифужным методом, густой, сытный и невероятно вкусный!</p>								
                        </div>
                                        
                </div>	
            </div>
        </section>
<!-- End blog Area -->
        
<app-prefer-detox></app-prefer-detox>