<section class="reservation-area section-gap relative" >
  <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-6 reservation-left">
                <h1 class="text-white">Напишите нам</h1>
                <p class="text-white pt-20">
                        Мы благодарим Вас за проявленный интерес к нашей компании. Заполните форму и наши консультанты свяжутся с Вами в кратчайшее время!
                </p>
            </div>
            <div class="col-lg-5 reservation-right">
                <form class="form-wrap text-center" action="#">
                    <input type="text" class="form-control" name="name" placeholder="Ваше имя" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ваше имя'" >
                    <input type="email" class="form-control" name="email" placeholder="Ваша почта" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ваша почта'" >
                    <input type="text" class="form-control" name="phone" placeholder="Телефон" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Телефон'" >		
                    <input type="text" class="form-control date-picker" name="date" placeholder="Дата и время" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Дата и время'" >															
                    <a routerLink ="/detox" class="primary-btn text-uppercase ">Отправить</a>
                </form>
            </div>
        </div>
</div>
</section>

