.reservation-area
{
	background:url(/assets/img/detox-bg.jpg) center center/cover
}
.reservation-area .overlay-bg
{
	background:rgba(17,22,24,0.75)
}
.reservation-area .reservation-right,.reservation-area .reservation-left
{
	position:relative
}
.reservation-area .reservation-right .form-wrap
{
	background:#fff;
    padding:100px 40px;
    margin:15%;
}
.reservation-area .reservation-right .form-wrap .form-control
{
	    border-radius:1px;
		margin-bottom:10px;
		border-color:#eeeeee;
		font-size:13px;
		font-weight:300;
		padding:0.575rem 0.75rem;
		color:#999999
}
.reservation-area .reservation-right .form-wrap .form-control:focus
{
	box-shadow:none
}
.reservation-area .reservation-right .form-wrap .nice-select
{
	border:1px solid #eeeeee
}
.reservation-area .reservation-right .primary-btn
{
	text-transform:capitalize !important;
		-webkit-transition:all 0.3s ease 0s;
		-moz-transition:all 0.3s ease 0s;
		-o-transition:all 0.3s ease 0s;
		transition:all 0.3s ease 0s
}
.reservation-area .reservation-right .primary-btn:hover
{
	box-shadow:-14.142px 14.142px 20px 0px rgba(244,47,44,0.2)
}
.reservation-area .reservation-right .nice-select
{
	padding-left:12px;
	padding-right:0px
}
.reservation-area .reservation-right .nice-select .list
{
	border:1px solid #eee
}
.reservation-area .reservation-right .nice-select .list .option
{
	padding-left:12px
}

.primary-btn
{
	    background:green;
		line-height:42px;
		padding-left:30px;
		padding-right:30px;
		border:none;
		color:#fff;
		display:inline-block;
		font-size:14px;
		font-weight:500;
		position:relative;
		text-transform:uppercase;
		-webkit-transition:all 0.3s ease 0s;
		-moz-transition:all 0.3s ease 0s;
		-o-transition:all 0.3s ease 0s;
		transition:all 0.3s ease 0s;
		cursor:pointer;
        position:relative;
        margin-top: 10px;
}
.primary-btn:focus
{
	outline:none
}
.primary-btn span
{
	    color:#fff;
		position:absolute;
		top:50%;
		transform:translateY(-60%);
		right:30px;
		-webkit-transition:all 0.3s ease 0s;
		-moz-transition:all 0.3s ease 0s;
		-o-transition:all 0.3s ease 0s;
		transition:all 0.3s ease 0s
}
.primary-btn:hover
{
	color:#fff
}
.primary-btn:hover span
{
	color:#fff;
	right:20px
}
.primary-btn.white
{
	border:1px solid #fff;
	color:#fff
}
.primary-btn.white span
{
	color:#fff
}
.primary-btn.white:hover
{
	background:#fff;
	color:green
}
