.footer-area h4
{
	padding-bottom:30px
}
.footer-area .number
{
	color:#fff;
	font-size:24px;
	font-weight:600;
	line-height:30px
}
.footer-area .genric-btn
{
	background:#f42f2c;
	border:none;
	border-radius:57px;
	height:36px;
	line-height:41px
}
.footer-area .primary-btn
{
	background-color:#f42f2c
}
.footer-area .primary-btn:hover .lnr
{
	color:#f42f2c
}
.footer-area .single-footer-widget h4
{
	color:#fff
}
	@media (max-width: 768px)
{
.footer-area .single-footer-widget .newsletter .primary-btn
{
	right:2% !important;
	width:auto;
	right:0;
	top:5px;
	transform:translate(0%, 0)
}

}
.footer-widget-wrap
{
	background:#f42f2c;
	color:#fff
}
	@media (max-width: 991px)
{
.single-footer-widget
{
	margin-bottom:30px
}

}
.single-footer-widget .navbar-form
{
	width:100%
}
.single-footer-widget .navbar-form .form-control
{
	border:none;
	border-radius:20px;
	font-size:13px;
	background-color:#f9f9ff;
	border:1px solid #f9f9ff
}
.single-footer-widget .navbar-form .form-control:focus
{
	box-shadow:none !important
}
.single-footer-widget .navbar-form .add-on
{
	background:#f9f9ff;
	border-radius:20px;
	border:1px solid #fff
}
.single-footer-widget .navbar-form .genric-btn
{
	padding:0px
}
.single-footer-widget .navbar-form .genric-btn:hover
{
	background-color:#f42f2c
}
.single-footer-widget .navbar-form .genric-btn:hover .lnr
{
	color:#fff
}
.single-footer-widget .navbar-form .error
{
	color:#fff
}
.single-footer-widget .navbar-form .lnr
{
	padding:11px;
	font-weight:900;
	font-size:13px !important;
	color:#fff
}
.single-footer-widget .hr-list li
{
	margin-bottom:20px;
	padding-bottom:20px;
	border-bottom:1px solid rgba(238,238,238,0.3)
}
.footer-bottom-wrap
{
	background:#222;
	color:#fff
}
.footer-bottom
{
	padding:15px 0px
}
	@media (max-width: 991px)
{
.footer-bottom .social-icons
{
	text-align:left !important;
	margin-top:15px
}

}
.footer-bottom .social-icons li
{
	display:inline-block
}
.footer-bottom .social-icons li a
{
	display:inline-block;
	width:35px;
	height:35px;
	line-height:35px;
	text-align:center;
	background:#111111;
	color:#fff;
	-webkit-transition:all 0.3s ease 0s;
	-moz-transition:all 0.3s ease 0s;
	-o-transition:all 0.3s ease 0s;
	transition:all 0.3s ease 0s
}
.footer-bottom .social-icons li a:hover
{
	background:#f42f2c;
	color:#111111
}
.footer-text a,.footer-text i
{
	color:#f42f2c
}