<header id="header">
        <div class="header-top">
            <div class="container">
                  <div class="row justify-content-center">
                      <div id="logo">
                        <a href="index.html"><img src="assets/img/main-logo.png" class = "logo_img" alt="" title="" /></a>
                      </div>
                  </div>			  					
            </div>
        </div>
        <div class="container main_menu">
            <div class="row align-items-center justify-content-center d-flex">			
              <nav id="nav-menu-container" class="navbar navbar-expand-lg">
                <ul class="nav-menu">
                  <li class="nav-item"><a routerLink ="/main">Главная</a></li>
                  <li><a routerLink ="/programms">Программы питания</a></li>
                  <li><a routerLink ="/detox">Detox программы</a></li>
                  <li><a routerLink ="/menu">Меню</a></li>
                  <li><a routerLink ="/reviews">Отзывы</a></li>
                  <li><a routerLink ="/contact">Контакты</a></li>
                </ul>
              </nav><!-- #nav-menu-container -->					      		  
            </div>
        </div>
    </header>
    
    	