
<header id="header">
        <div class="header-top">
            <div class="container">
                  <div class="row justify-content-center">
                      <div id="logo">
                        <a href="index.html"><img src="assets/img/main-logo.png" class = "logo_img" alt="" title="" /></a>
                      </div>
                  </div>			  					
            </div>
        </div>
        <div class="container main-menu">
            <div class="row align-items-center justify-content-center d-flex">			
              <nav id="nav-menu-container">
                <ul class="nav-menu">
                  <li><a href="index.html">Главная</a></li>
                  <li><a href="all-programm.html">Программы питания</a></li>
                  <li><a href="detox.html">Detox программы</a></li>
                  <li><a href="menu.html">Меню</a></li>
                  <li><a href="gallery.html">Галлерея</a></li>
                  <li><a href="testimonials.html">Отзывы</a></li>
                  <li><a href="contact.html">Контакты</a></li>
                </ul>
              </nav><!-- #nav-menu-container -->					      		  
            </div>
        </div>
    </header>
    
    	