<div class="whole-wrap">
  <div class="container">
   <div class="section-top-border" style="background-color:#fff;margin:7%;">
    <div class="container">
     <div class="row d-flex justify-content-center">
      <div class="menu-content pb-70 col-lg-8">
        <div class="title text-center">
          <h1 class="mb-10" style="color:red;">Для кого работает Get Fit?</h1>
          <div class="container">             
            <h5>Клиенты компании - заботящиеся о красоте и здоровье. 
             Не знаете как похудеть? 
             С нашей помощью удается решать проблемы 
             со здоровьем и приводить фигуру в хорошую форму. </h5>
             <h5>Мы опровергаем устоявшееся мнение том, 
              что укрепляющая здоровье пища не может быть вкусной! 
              Наше правильное питание - комплекс изысканных,
               деликатесных блюд, калорийность которых не выходит 
               за обозначенные диетологом рамки. </h5>
               <h5>Еда Get Fit хорошо утоляет голод, 
                оставляя при этом чувство легкости, 
                обладает превосходными вкусовыми качествами.</h5>
          </div>
        </div>
      </div>
    </div>
   </div>
  </div>
 </div>