			<!-- Start contact-page Area -->
			<section class="contact-page-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-4 d-flex flex-column address-wrap">
							<div class="single-contact-address d-flex flex-row">
								<div class="icon">
									<span class="lnr lnr-home"></span>
								</div>
								<div class="contact-details">
									<h5>г. Алматы, Казахстан</h5>
									<p>
										Байзакова 56/8б уг. ул. Байзакова - Абая
									</p>
								</div>
							</div>
							<div class="single-contact-address d-flex flex-row">
								<div class="icon">
									<span class="lnr lnr-phone-handset"></span>
								</div>
								<div class="contact-details">
									<h5>+7-778-87-78-877</h5>
									<p>Пн - Пт 9.00 - 18.00</p>
								</div>
							</div>
							<div class="single-contact-address d-flex flex-row">
								<div class="icon">
									<span class="lnr lnr-envelope"></span>
								</div>
								<div class="contact-details">
									<h5>support@getfit.com</h5>
									<p>Задавайте свои вопросы в любое время!</p>
								</div>
							</div>														
						</div>
						<div class="col-lg-8">
							<form class="form-area contact-form text-right" id="myForm" action="mail.php" method="post">
								<div class="row">	
									<div class="col-lg-6 form-group">
										<input name="name" placeholder="Ваше Имя" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ваше Имя'" class="common-input mb-20 form-control" required="" type="text">
									
										<input name="email" placeholder="Ваша почта" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ваша почта'" class="common-input mb-20 form-control" required="" type="email">

										<input name="subject" placeholder="Тема письма" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Тема письма'" class="common-input mb-20 form-control" required="" type="text">
									</div>
									<div class="col-lg-6 form-group">
										<textarea class="common-textarea form-control" name="message" placeholder="Ваше письмо" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ваше письмо'" required=""></textarea>				
									</div>
									<div class="col-lg-12">
										<div class="alert-msg" style="text-align: left;"></div>
										<button class="genric-btn primary" style="float: right;">Отправить письмо</button>											
									</div>
								</div>
							</form>	
						</div>
					</div>
				</div>	
			</section>
			<!-- End contact-page Area -->
