<!-- start banner  -->
<section class="detox-banner-area" [style.background] = "'url('+ imgPath +') '">
  <div class="container">
    <div class="row fullscreen align-items-center justify-content-between">
      <div class="col-lg-12 banner-content">
        
        <h2 class="text-white"> {{title }}</h2>
        <p class="text-white">
         {{title1}}
        </p>
        <a routerLink ="/programms" class="primary-btn text-uppercase">Выбрать программу</a>
      </div>
    </div>
  </div>					
</section>
<!-- End banner-->		