<section class="programs">
  <div class="container">
      <div class="row">
          
      </div>
      <div class="row">
          <div class="col-md-12">
             <div class="item">
                      <div class="top">
                          <div class="left">
                              <h6 style="font-size: 30px;">Для вегетарианцев</h6>
                          </div>
                          <div class="right">
                              <p>Для веганов и вегетарианцев. Программа исключает из себя продукты животного происхождения.</p>
                          </div>
                      </div>
                      <div class="bottom" style="background-image: url('assets/img/pr-1.jpg')">
                          <div class="item_program" id="light">
                              <span class="title" style="color:black;">Vegan</span>
                              <span class="orange" style="background-color: #ff3333;">1200-1500 ккал</span>
                              <span class="info" style="color:black;">Чистое питание</span>
                              <p>Для людей, которые хотят похудеть, при этом употреблять вкусную и правильно приготовленую пищу. Умеренное снижение веса до 8 кг за 21 день.
                              </p>
                              <span class="price">24.900&nbsp;тг</span>
            <a href="#" class="btn btn-green select-product-button" style="background-color: #ff3333; border-radius: 0 " >Выбрать</a>
                          </div>
                          <div class="item_program" id="light-week">
                              <span class="title" style="color:black;">Power</span>
                              <span class="orange" style="background-color: #ff3333;">1500-1700 ккал</span>
                              <span class="info" style="color:black;">Только растительное</span>
                              <p>Для людей кто желает избавиться от лишнего веса, не прибегая к агрессивному похудению. Снижение веса до 5 кг за программу. Разгрузка от ненужных калорий. </p> 
                              <span class="price">36.000&nbsp;тг</span>
            <a href="#" class="btn btn-green select-product-button" style="background-color: #ff3333; border-radius: 0 ">Выбрать</a>
                          </div>
                          <div class="item_program" id="slim">
                            <span class="title" style="color:black;">Strong</span>
                            <span class="orange" style="background-color: #ff3333;">1700-2000 ккал</span>
                            <span class="info" style="color:black;">Отличный метаболизм</span>
                            <p>Для людей, которые хотят похудеть, стабилизировать вес или закрепить уже полученные результаты. Подходит как мужчинам так и женщинам.</p>
            <span class="price">46.000&nbsp;тг</span>
            <a href="#" class="btn btn-green select-product-button" style="background-color: #ff3333; border-radius: 0 ">Выбрать</a>
                          </div>
                      </div>
                  </div>
              </div>
      </div>
  </div>
</section>
