<!-- Start post-content Area -->
<section class="post-content-area single-post-area">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
                <div class="testimonial">
                    <div class="pic round">
                        <img src="/src/assets/img/review_1.jpg" alt="">
                    </div>
                    <div class="testimonial-content">
                        <p class="description">
                          Сам я, когда нахожусь вне дома, в плане еды совершенно неприхотлив. Могу жить на подножном корме — хлеб, вода и больше ничего. Но понятно, что такой рацион может плохо отразиться на здоровье. Поэтому, когда в прошлом году мне посчастливилось познакомиться с Мариной Хан, директором Центра питания «Здоровый рацион», я понял, что пришло время заняться собой. Марина мне очень помогла, мы выбрали с ней подходящую для меня программу. И в результате я сбросил 9 кг за время программы. Причем произошло это без какого-либо насилия над организмом. Вся еда, все блюда очень вкусные, практически не отличающиеся от домашних, только с поправкой на правильное питание.
                          У меня все получилось, и я сохранил в своем рационе принципы правильного питания. У меня сейчас практически отсутствуют в рационе мучное, майонез — то, без чего в студенческие годы вообще ничего не елось. Сахар тоже практически исключил. Картошку не ем ни в каком виде. И никакого фастфуда. Марина в свое время повлияла не только на мое физическое состояние, но и поменяла мышление в отношении еды.
                        </p>
                        <h3 class="testimonial-title">Азиз Бейшеналиев
                            <small class="post">Актер г. Алма-ата</small>
                        </h3>
                    </div>
                </div>
  
                <div class="testimonial">
                    <div class="pic round">
                        <img src="/src/assets/img/review_2.jpg" alt="">
                    </div>
                    <div class="testimonial-content">
                        <p class="description">
                          Последние несколько лет у меня не было возможности активно заниматься спортом. В начале 2018 года пригласили участвовать на Чемпионате мира по таеквондо. Времени для подготовки оставалось всего лишь несколько месяцев. То, что я физически успею войти за это время в «боевую» форму, я не сомневалась. Но на чемпионате были ограничения по весу. Так я узнала, что у меня есть пару ненужных кило. Спортсмены знают, что когда тренируешься трудно сбросить вес — с одной стороны сжигаются калории, с другой – наращивается мышечная масса. И тут, конечно, важен баланс. Особенно в питании. Ранее я никогда не обращалась в подобные службы, но тут решила попробовать, тем более времени на готовку для себя особо не было. Обратилась в «Рацион», посоветовалась с консультантом по питанию и выбрала программу Лайт.
                          Сама я любитель острой, соленой пищи, поэтому первые дни давались нелегко – постоянно хотелось поперчить, посолить. За 2 недели правильного потребления пищи я не скинула 5-8 кг, что и не нужно было, сбросила немного, но зато появилась приятная легкость в организме и полезная привычка съедать все чуть недосоленным и в малом количестве. Сейчас я уже не могу есть жирные и жаренные блюда, не потому что они не вкусные, а потому что на них я уже смотрю иначе, с точки зрения их полезности для меня. За что и благодарна центру питания «Здоровый рацион»!
                        </p>
                        <h3 class="testimonial-title">Светлана Кан
                            <small class="post">КПН, мастер международной категории, обладатель 7 дана по Таеквондо.
                              г. Алма-ата</small>
                        </h3>
                    </div>
                </div>
                
                <div class="testimonial">
                  <div class="pic round">
                      <img src="/src/assets/img/review_3.jpg" alt="">
                  </div>
                  <div class="testimonial-content">
                      <p class="description">
                        Редко такое делаю, а точнее впервые… Но так как у меня неоднократно был негативный опыт со службами доставки ПП, решила поделиться отзывом о тех, кто действительно работает очень круто!
                      </p>
                      <h3 class="testimonial-title">Артур Аскарулы
                          <small class="post">Блогер г. Алма-ата</small>
                      </h3>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="comment-form">
    <h4>Оставить отзыв</h4>
    <form>
      <div class="form-group form-inline">
        <div class="form-group col-lg-6 col-md-12 name">
          <input type="text" class="form-control" id="name" placeholder="Введите имя" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Введите имя'">
        </div>
        <div class="form-group col-lg-6 col-md-12 email">
          <input type="email" class="form-control" id="email" placeholder="Введите email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Введите email'">
        </div>										
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="subject" placeholder="Тема" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Тема'">
      </div>
      <div class="form-group">
        <textarea class="form-control mb-10" rows="5" name="message" placeholder="Текст" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Текст'" required=""></textarea>
      </div>
      <a href="#" class="primary-btn text-uppercase">Оставить отзыв</a>	
    </form>
  </div>
</section>
<!-- End post-content Area -->