<!-- start banner  -->
<section class="detox-banner-area">		
  <div class="container">
    <div class="row fullscreen align-items-center justify-content-between">
      <div class="col-lg-12 banner-content">
        
        <h2 class="text-white">Комфортная опция для очищения организма в условиях мегаполиса</h2>
        <p class="text-white_p">
          Только свежие и натуральные фрукты и овощи!
                      </p>
        <a href="#menu" class="primary-btn text-uppercase">Выбрать программу</a>
      </div>
    </div>
  </div>					
</section>
<!-- End banner-->		