<!-- Start choose-program-->
<section class="top-category-widget-area pt-40 pb-30 ">
  <div class="container">
    
    <h2 class="red-text text-center" style="font-size: 36px; font-weight: bold;">Выберите программу</h2>
    
    <div class="row" style="padding-top: 30px;">		
      <div class="col-lg-4">
        <div class="single-cat-widget">
          <div class="content relative">
            <div class="overlay overlay-bg"></div>
              <a href="#" target="_blank">
                <div class="thumb">
                 <img class="content-image img-fluid d-block mx-auto" src="assets/img/pr-1.jpg" alt="">
                </div>
                <div class="content-details">
                  <h4 class="content-title mx-auto text-uppercase">Для похудения</h4>
                  <span></span>								        
                  <p style="color: white;">От 900 Ккал до 1500 Ккал в день</p>
                    <a href="weight-loss.html" class="primary-btn">Смотреть</a>
                </div>
              </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="single-cat-widget">
          <div class="content relative">
            <div class="overlay overlay-bg"></div>
              <a href="#" target="_blank">
                <div class="thumb">
                 <img class="content-image img-fluid d-block mx-auto" src="assets/img/pr-4.jpg" alt="">
                </div>
                <div class="content-details">
                  <h4 class="content-title mx-auto text-uppercase">Для оздоровления</h4>
                  <span></span>								        
                  <p style="color: white;">От 1500 Ккал до 2000 Ккал в день</p>
                    <a href="health.html" class="primary-btn">Смотреть</a>
                </div>
              </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="single-cat-widget">
          <div class="content relative">
            <div class="overlay overlay-bg"></div>
              <a href="#" target="_blank">
                <div class="thumb">
                 <img class="content-image img-fluid d-block mx-auto" src="assets/img/pr-6.jpg" alt="">
                </div>
                <div class="content-details">
                  <h4 class="content-title mx-auto text-uppercase">Для вегетарианцев</h4>
                  <span></span>
                  <p style="color: white;">От 1000 Ккал до 2000 Ккал в день</p>
                    <a href="vegan.html" class="primary-btn">Смотреть</a>
                </div>
              </a>
          </div>
        </div>
      </div>												
    </div>
    <div class="row" style="padding-top: 30px;">		
      <div class="col-lg-4">
        <div class="single-cat-widget">
          <div class="content relative">
            <div class="overlay overlay-bg"></div>
              <a href="#" target="_blank">
                <div class="thumb">
                 <img class="content-image img-fluid d-block mx-auto" src="assets/img/pr-8.jpg" alt="">
                </div>
                <div class="content-details">
                  <h4 class="content-title mx-auto text-uppercase">Для спортсменов</h4>
                  <span></span>								        
                  <p style="color: white;">От 1800 Ккал до 2000 Ккал в день</p>
                    <a href="weight-loss.html" class="primary-btn">Смотреть</a>
                </div>
              </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="single-cat-widget">
          <div class="content relative">
            <div class="overlay overlay-bg"></div>
              <a href="#" target="_blank">
                <div class="thumb">
                 <img class="content-image img-fluid d-block mx-auto" src="assets/img/g5.jpg" alt="">
                </div>
                <div class="content-details">
                  <h4 class="content-title mx-auto text-uppercase">Для лечения организма</h4>
                  <span></span>								        
                  <p style="color: white;">От 1000 Ккал до 2000 Ккал в день</p>
                    <a href="health.html" class="primary-btn">Смотреть</a>
                </div>
              </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="single-cat-widget">
          <div class="content relative">
            <div class="overlay overlay-bg"></div>
              <a href="#" target="_blank">
                <div class="thumb">
                 <img class="content-image img-fluid d-block mx-auto" src="assets/img/pr-7.jpg" alt="">
                </div>
                <div class="content-details">
                  <h4 class="content-title mx-auto text-uppercase">Для очищения организма</h4>
                  <span></span>
                  <p style="color: white;">От 500 Ккал до 1000 Ккал в день</p>
                    <a href="detox.html" class="primary-btn">Смотреть</a>
                </div>
              </a>
          </div>
        </div>
      </div>												
    </div>
  </div>	
</section>
<!-- End choose-program -->

