
	<section class="programs">
    <div class="container">
        <div class="row">
            
        </div>
        <div class="row">
            <div class="col-md-12">
               <div class="item">
                        <div class="top">
                            <div class="left">
                                <h6 style="font-size: 30px;">Для оздоровления</h6>
                            </div>
                            <div class="right">
                                <p>Специально для деловых людей и для тех, кто заботится о своей фигуре и здоровье, но не страдает от избыточного веса. Действие программы направлено на оздоровление организма и насыщение его витаминами, минералами, которые запускают процессы обмена веществ и помогают сохранить бодрость и тонус в течение всего рабочего дня.</p>
                            </div>
                        </div>
                        <div class="bottom" style="background-image: url('assets/img/pr-3.jpg')">
                            <div class="item_program" id="light">
                                <span class="title" style="color:black;">Slim</span>
                                <span class="orange" style="background-color: #ff3333;">1500-1700 ккал</span>
                                <span class="info" style="color:black;">Чувство легкости</span>
                                <p>Для людей, кто не страдает от избыточного веса. Стабилизирует ваш вес, а также помогает пребывать в постоянном тонусе и хорошем настроении, за счет здоровой и вкусной еды.
                                </p>
                                <span class="price">34.400&nbsp;тг</span>
              <a href="#" class="btn btn-green select-product-button" style="background-color: #ff3333; border-radius: 0 " >Выбрать</a>
                            </div>
                            <div class="item_program" id="light-week">
                                <span class="title" style="color:black;">Tonus</span>
                                <span class="orange" style="background-color: #ff3333;">1700-1800 ккал</span>
                                <span class="info" style="color:black;">Комфортное пищеварение</span>
                                <p>Для деловых людей у которых нет времени на употребление пищи в течение рабочего дня, но есть время на полноценный домашний ужин. Включает в себя завтрак и обед.</p> 
                                <span class="price">48.000&nbsp;тг</span>
              <a href="#" class="btn btn-green select-product-button" style="background-color: #ff3333; border-radius: 0 ">Выбрать</a>
                            </div>
                            <div class="item_program" id="slim">
                              <span class="title" style="color:black;">Fit</span>
                              <span class="orange" style="background-color: #ff3333;">1800-2000 ккал</span>
                              <span class="info" style="color:black;">Легкая стройность</span>
                              <p>Для людей у кого нет возможности полноценно по обедать на работе. Доставка вкусного и правильно приготовленного обеда к вам в офис.</p>
              <span class="price">52.300&nbsp;тг</span>
              <a href="#" class="btn btn-green select-product-button" style="background-color: #ff3333; border-radius: 0 ">Выбрать</a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>



