<section class="menu-area section-gap" id="menu">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-70 col-lg-8">
        <div class="title text-center">
          <h1 class="mb-10">Продукты, которые мы вам предлагаем!</h1>
          <p>Кто влюблен в экологически чистую еду?</p>
        </div>
      </div>
    </div>
    <ul class="filter-wrap filters col-lg-12 no-padding">
        <li class="active" data-filter="*">Всё Меню</li>
        <li data-filter=".breakfast">Завтраки</li>
        <li data-filter=".hot">Горячие Блюда</li>
        <li data-filter=".soup">Супы</li>
        <li data-filter=".drink">Смузи</li>
     </ul>
     <div class="filters-content">
       <div class="row grid">
         <div class="col-md-6 all *">
                                                  
        </div>
        
        <div class="col-md-6 all breakfast">
          <div class="single-menu">
            <div class="title-wrap d-flex justify-content-between">
              <div>
                <h4>Овсяная каша с фруктами</h4>
                <p>Идеальный полноценный завтрак для активной жизни</p>
              </div>
              <img src="assets/img/break1.jpg">
            </div>
            <h4 class="price">699 тг</h4>		
          </div>
          <div class="single-menu">
              <div class="title-wrap d-flex justify-content-between">
                <div>
                  <h4>Омлет на пару</h4>
                  <p>Вкусный и полезный омлет со шпинатом приготовленный на пару</p>
                </div>
                <img src="assets/img/break2.jpg">
              </div>
              <h4 class="price">599 тг</h4>		
          </div>	
          <div class="single-menu">
            <div class="title-wrap d-flex justify-content-between">
              <div>
                <h4>Творог с сухофруктами</h4>
                <p>Нежнейший творог с сухофруктами заряжает вас энергией и настроением на весь день</p>
              </div>
              <img src="assets/img/break3.jpg">
            </div>
            <h4 class="price">599 тг</h4>		
          </div>	
          <div class="single-menu">
            <div class="title-wrap d-flex justify-content-between">
              <div>
                <h4>Яйца пашот с хлебом</h4>
                <p>Необычный завтрак для заряда энергией</p>
              </div>
              <img src="assets/img/break4.jpg">
            </div>
            <h4 class="price">799 тг</h4>		
          </div>		
        </div>
        <div class="col-md-6 all hot">
          <div class="single-menu">
            <div class="title-wrap d-flex justify-content-between">
              <div>
                <h4>Сёмга с овощами в сливочном соусе</h4>
                <p>Нежная рыба политая сливочным соусом хорошо сочетается с свежими овощами</p>
              </div>
              <img src="assets/img/salmon.jpg">
            </div>	
            <h4 class="price">1499 тг</h4>			
          </div>
          <div class="single-menu">
              <div class="title-wrap d-flex justify-content-between">
                <div>
                  <h4>Форель с фасолью</h4>
                  <p>Рыба с брокколи и стручковой фасолью полезно для здоровья.</p>
                </div>
                <img src="assets/img/trout.jpg">
              </div>	
              <h4 class="price">1499 тг</h4>		
            </div>
            <div class="single-menu">
            <div class="title-wrap d-flex justify-content-between">
              <div>
                <h4>Курица с овощами</h4>
                <p>Несравменный фаворит среди любителей правильного питания.</p>
              </div>
              <img src="assets/img/chicken.jpeg">
            </div>	
            <h4 class="price">1499 тг</h4>		
          </div>
          <div class="single-menu">
            <div class="title-wrap d-flex justify-content-between">
              <div>
                <h4>Рыбные палочки с миксом</h4>
                <p>Для разнобразия выбора</p>
              </div>
              <img src="assets/img/fish.jpg">
            </div>	
            <h4 class="price">1499 тг</h4>	
          </div>
        </div>
        <div class="col-md-6 all soup">
          <div class="single-menu">
            <div class="title-wrap d-flex justify-content-between">
              <div>
                <h4>Суп с морепродуктами</h4>
                <p>Крем-суп со свежей цветной капустой и морепродуктами</p>
              </div>
              <img src="assets/img/soup1.jpg">
            </div>
            <h4 class="price">899 тг</h4>
          </div>
          <div class="single-menu">
            <div class="title-wrap d-flex justify-content-between">
              <div>
                <h4>Овощной суп</h4>
                <p>Классический овощной суп, как у мамы</p>
              </div>
              <img src="assets/img/soup2.jpg">
            </div>
            <h4 class="price">799 тг</h4>
          </div>
          <div class="single-menu">
            <div class="title-wrap d-flex justify-content-between">
              <div>
                <h4>Томатно-тыквенный суп</h4>
                <p>Нежный и сытный крем-суп приготовленный по особому рецепту</p>
              </div>
              <img src="assets/img/soup3.jpg">
            </div>
            <h4 class="price">999 тг</h4>
          </div>
          <div class="single-menu">
            <div class="title-wrap d-flex justify-content-between">
              <div>
                <h4>Вегетарианский борщ</h4>
                <p>Борщ вегетарианский ничуть не уступает борщу, сваренному на мясном бульоне</p>
              </div>
              <img src="assets/img/soup4.jpg">
            </div>
            <h4 class="price">799 тг</h4>
          </div>
        </div>
        <div class="col-md-6 all drink">
          <div class="single-menu">
            <div class="title-wrap d-flex justify-content-between">
              <div>
                <h4>Зеленый смузи</h4>
                <p>Смузи со шпинатом, киви и бананом</p>
              </div>
              <img src="assets/img/smuzi1.jpg">
            </div>
            <h4 class="price">599 тг</h4>		
          </div>
          <div class="single-menu">
            <div class="title-wrap d-flex justify-content-between">
              <div>
                <h4>Розовый смузи</h4>
                <p>Смузи с клубникой и сливками</p>
              </div>
              <img src="assets/img/smuzi2.jpg">
            </div>
            <h4 class="price">599 тг</h4>		
          </div>
      
          <div class="single-menu">
            <div class="title-wrap d-flex justify-content-between">
              <div>
                <h4>Красный смузи</h4>
                <p>Смузи со свеклой и брусникой</p>
              </div>
              <img src="assets/img/smuzi4.jpg">
            </div>
            <h4 class="price">599 тг</h4>		
          </div>
          
          <div class="single-menu">
            <div class="title-wrap d-flex justify-content-between">
              <div>
                <h4>Жёлтый смузи</h4>
                <p>Смузи на основе банана и ананаса</p>
              </div>
              <img src="assets/img/smuzi6.jpg">
            </div>
            <h4 class="price">599 тг</h4>		
          </div>
        </div>
      </div>                            
    </div>
   </div>          
  </section>