<section class="programs">
  <div class="container">
      <div class="row">
          
      </div>
      <div class="row">
          <div class="col-md-12">
             <div class="item">
                      <div class="top">
                          <div class="left">
                              <h6 style="font-size: 30px;">Для похудения</h6>
                          </div>
                          <div class="right">
                              <p>Программы питания помогут приучить организм к питанию небольшими порциями, которое защитит Вас от переедания и приведет к снижению веса за короткий период. Облегченный вариант диеты прекрасно подойдет и для подготовки к соревнованиям или пляжному сезону.</p>
                          </div>
                      </div>
                      <div class="bottom" style="background-image: url('assets/img/pr-1.jpg')">
                          <div class="item_program" id="light">
                              <span class="title" style="color:black;">Light</span>
                              <span class="orange" style="background-color: #ff3333;">900-1100 ккал</span>
                              <span class="info" style="color:black;">Похудение</span>
                              <p>Для людей, которые хотят похудеть, при этом употреблять вкусную и правильно приготовленую пищу. Умеренное снижение веса до 8 кг за 21 день.
                              </p>
                              <span class="price">29.400&nbsp;тг</span>
            <a href="#" class="btn btn-green select-product-button" style="background-color: #ff3333; border-radius: 0 " >Выбрать</a>
                          </div>
                          <div class="item_program" id="light-week">
                              <span class="title" style="color:black;">Standard</span>
                              <span class="orange" style="background-color: #ff3333;">900-1100 ккал</span>
                              <span class="info" style="color:black;">Похудение за 14 дней</span>
                              <p>Для людей кто желает избавиться от лишнего веса, не прибегая к агрессивному похудению. Снижение веса до 5 кг за программу. Разгрузка от ненужных калорий. </p> 
                              <span class="price">42.000&nbsp;тг</span>
            <a href="#" class="btn btn-green select-product-button" style="background-color: #ff3333; border-radius: 0 ">Выбрать</a>
                          </div>
                          <div class="item_program" id="slim">
                            <span class="title" style="color:black;">Intensive</span>
                            <span class="orange" style="background-color: #ff3333;">1300-1500 ккал</span>
                            <span class="info" style="color:black;">Комфортное похудение</span>
                            <p>Для людей, которые хотят похудеть, стабилизировать вес или закрепить уже полученные результаты. Подходит как мужчинам так и женщинам.</p>
            <span class="price">34.300&nbsp;тг</span>
            <a href="#" class="btn btn-green select-product-button" style="background-color: #ff3333; border-radius: 0 ">Выбрать</a>
                          </div>
                      </div>
                  </div>
              </div>
      </div>
  </div>
</section>
