            <!-- Start menu-area Area -->
            <section class="menu-area section-gap" id="menu" style="margin-top: 120px;">
                    <div class="container">
                        <div class="row d-flex justify-content-center">
                            <div class="menu-content pb-70 col-lg-8">
                                <div class="title text-center">
                                    <h1 class="mb-10">Программа</h1>
                                </div>
                            </div>
                        </div>	
    
                        <ul class="filter-wrap filters col-lg-12 no-padding">
                            <li class="active" data-filter="*">Все Меню</li>
                            <li data-filter=".dinner" >Detox Classic</li>
                            <li data-filter=".breakfast">Detox Lite</li>
                            <li data-filter=".lunch">Detox Pro</li>
                        </ul>
                        
                        <div class="filters-content" >
                            <div class="row grid">
                                    <div class="col-md-6 all dinner" >
                                            <img src="assets/img/orange.jpg" class = "detox-menu-img">
                                        </div>
                                    <div class="col-md-6 all dinner" >
                                        <div class="single-menu">
                                        <div class="title-wrap d-flex justify-content-between">
                                            <a routerLink ="/detox" class = "program_name_hover"><h2 class = "program_name1">Detox soup Orange</h2></a>
                                           <a routerLink ="/detox" class="btn btn-outline-danger" >Заказать</a>				    
                                                
                                        </div>	
                                        <h5>Объем: 370 ml</h5>
                                        <h5>Калорийность: 196 ккал</h5>
                                        <h5>Белки: 4,07 г</h5>
                                        <h5>Жиры: 3,7 г</h5>
                                        <h5>Углеводы: 16,3 г</h5>
                                        <h5>Состав: тыква, имбирь, кокосовое молоко</h5>	
                                        <p>Легкий утренний нежный DETOX-суп, который задаст start очистительным процессам и настроит весь организм на очищение. Богат пектином, солями калия, кальция, магния, железа, а также медью и кобальтом. Содержит бета-каротин и витамины С, В1, В2, В6 и Е. Улучшает работу кишечника, способствует желчевыделению, понижает уровень жиров в крови, выводит токсины и укрепляет иммунитет.

                                                Рекомендуется при сердечно-сосудистых заболеваниях, проблемах с кожей, заболеваниях печени и почек, а также в качестве общеукрепляющего и витаминизирующего средства.</p>					
                                        </div>					                               
                                    </div>  
                                    
                                        <div class="col-md-6 all breakfast" >
                                                <div class="single-menu">
                                                <div class="title-wrap d-flex justify-content-between">
                                                    <a routerLink ="/detox" class = "program_name_hover"><h2 class = "program_name2">Detox soup red</h2></a>
                                                    <a routerLink ="/detox" class="btn btn-outline-danger">Заказать</a>				    
                                                
                                                </div>	
                                                <h5>Объем: 370 ml</h5>
                                                <h5>Калорийность: 160 ккал</h5>
                                                <h5>Белки: 6,0 г</h5>
                                                <h5>Жиры: 2,9г</h5>
                                                <h5>Углеводы: 29,6 г</h5>
                                                <h5>Состав: свекла, чернослив и расторопша</h5>		
                                                <p>Самый полезный DETOX-суп для улучшения состава крови и образования кровяных телец. Улучшает работу печени, ускоряет метаболические процессы, обладает спазмолитическим, противосклеротическим и успокаивающим эффектом. Выводит избыточную жидкость и имеет природный эффект «допинга» - на 16% увеличивает выносливость и улучшает качество тренировок. Расторопша восстанавливает клетки печени, является сильнейшим антиоксидантом.

                                                        Рекомендуется в качестве средства для укрепления иммунитета, комплексного очищения организма и омоложения.</p>				
                                               </div>	
                                            </div>  
                                            
                                            <div class="col-md-6 all breakfast" >
                                                    <img src="assets/img/red.jpg" class = "detox-menu-img">
                                                </div>
                                                <div class="col-md-6 all lunch" >
                                                    <img src="assets/img/green.jpg" class = "detox-menu-img">
                                                </div> 
                                        <div class="col-md-6 all lunch" >
                                                <div class="single-menu">
                                                <div class="title-wrap d-flex justify-content-between">
                                                    <a routerLink ="/detox" class = "program_name_hover"><h2 class = "program_name3">Detox soup Green</h2></a>
                                                    <a routerLink ="/detox" class="btn btn-outline-danger">Заказать</a>				    
                                                
                                                </div>	
                                                <h5>Объем: 370 ml</h5>
                                                <h5>Калорийность: 170 ккал</h5>
                                                <h5>Белки: 12,2 г</h5>
                                                <h5>Жиры: 2,6г</h5>
                                                <h5>Углеводы: 29,6 г</h5>
                                                <h5>Состав: цветная капуста, брокколли, сельдерей</h5>	
                                                <p>Низкокалорийный DETOX-суп, содержит аскорбиновую и фолиевую кислоты, витамины группы В, РР, Е, магний, фосфор, а также соли кальция, калия и натрия. Суп обладает сильнейшими противовоспалительными, антиоксидантными и стимулирующими свойствами, выраженным противораковым эффектом, содержит Омега 3, является ценным источником кемпферола, биоактивного вещества, укрепляющего сосуды, способствующего выведению токсинов, обладающего антиаллергическим, общеукрепляющим и тонизирующим эффектом.

                                                        Рекомендуется в качестве общеукрепляющего витаминного средства, которое налаживает метаболизм, содержит много витамина D (главного противника лишнего веса).</p>
                                                </div>	
                                                				                               
                                            </div>  
                                           
                            </div>
                        </div>
                    </div>
                </section>
        <!-- End menu-area Area -->	